body {
  margin: 16px;
  display: grid;
  grid-template:
    "canvas" calc(100vw * 9 / 16)
    "button" auto;
  row-gap: 16px;
}

#canvas {
  grid-area: canvas;
  width: 100%;
  height: 100%;
  background-color: black;
}

#framerate {
  margin: 8px;
  grid-area: canvas;
  z-index: 0;
  color: white;
}

#button {
  grid-area: button;
  justify-self: center;
}
