html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: black;
}

.Panel {
  height: 100%;
}

.Panel-canvas {
  width: 100%;
  height: 100%;
}

.Panel-framerate {
  color: white;
  position: absolute;
  top: 8px;
  left: 8px;
}
